.App-header {
  background-color: rgb(80, 80, 80);
  height: 70px;
  padding: 20px;
  color: white;
  text-align: center;
  flex: 1;
}

.App-title {
  font-size: 1.5em;
}

body {
  padding: 50px;
  background-color: rgb(31, 31, 31);
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
}