.SectionFormMain {
    text-align: left;
    padding: 20px;
    background-color: darkgrey;
    width: fit-content;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    padding: 20px;
    margin: 20px;
    text-align: left;
    background-color: darkgrey;
    width: fit-content;
}